.container{
	margin:auto;
}
h1{
	font-size:50px;
	font-family:arival,Helvetica,sans-serif;
}
.calc{
	height:370px;
	background: black;
	padding: 10px;
	border-radius: 50px;
	display: inline-block;

}
#answer{
	background: white;
	width:370;
	height: 90px;
	color: black;
	border-radius: 10px;
	padding-right: 10px;
	margin-bottom:  18px;
	text-align: right;
	letter-spacing: 1px;
}
input{
	font-size: 50px;
	width: 65px;
	height: 55px;
	color: black;
	background: skyblue;
	border-radius: 10px;
	margin: 5px;
	outline: none;
	border: 1px solid blue;
}
input[type="button"]:hover{
	cursor:pointer;
	background: violet;
	color: red;
}
